

body {
	font-family: Roboto, sans-serif;
	text-align: center;	
}
h1{
	text-align: center;
}
.main {
	margin-left: 40%;
	display: grid;
	width: 200px;
	font-size: 30px;
	grid-template-areas: 
	"display     display     display      display     "
	"AC          AC 	     backspace 	  divide"
	"seven		 eight		 nine 		  multiply"
	"four 		 five 	 	 six 		  minus"
	"one 		 two 		 three 		  plus"
	"zeroo 	 	 zeroo 		decimal	      equals";
}

#display {
	grid-area: display;
	border: 1px solid black;
	padding: 30px;
	text-align: right;
	color: black;
	background-color:#FFF8E1;
	margin:  10px 10px 10px 10px;
}
#clear {
	grid-area: AC;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	
	
	
}
#modulo {
	grid-area: backspace;
	color: black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	background-color: #F8F988;
	border: 1px solid black;
	
	
}
#divide {
	grid-area: divide;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;	
	color: black;
	background-color: #F8F988;
	
}
#zero {
	grid-area: zeroo;
	border: 1px solid black;
	text-align: right;
	color: black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	padding-right: 15%;
	background-color: #F5F5F5;
}
#seven {
	grid-area: seven;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	background-color: #AAC4FF;
}
#eight {
	grid-area: eight;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	color: black;
	margin:10px 20px 10px 20px;
	background-color: #AAC4FF;
}
#nine {
	grid-area: nine;
	border: 1px solid black;
	color: black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	background-color: #AAC4FF;
}
#multiply {
	grid-area: multiply;
	border: 1px solid black;
	font-size: 30px;
	color: black;
	padding: 10px;
	background-color: #F8F988;
	margin:10px 20px 10px 20px;
	
	
}
#four {
	font-size: 30px;
	margin:10px 20px 10px 20px;
	grid-area: four;
	border: 1px solid black;
	padding: 10px;
	color: black;
	background-color: #AAC4FF;
}
#five {
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	grid-area: five;
	border: 1px solid black;
	color: black;
	background-color: #AAC4FF;
}
#six {
	font-size: 30px;
	margin:10px 20px 10px 20px;
	grid-area: six;
	border: 1px solid black;
	padding: 10px;
	background-color: #AAC4FF;
	color: black;
}
#minus {
	grid-area: minus;
	border: 1px solid black;
	font-size: 30px;
	background-color: #F8F988;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	
}
#one {
	grid-area: one;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	background-color: #AAC4FF;
}
#two {
	grid-area: two;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	color: black;
	margin:10px 20px 10px 20px;
	background-color: #AAC4FF;
}
#three {
	grid-area: three;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	color: black;
	margin:10px 20px 10px 20px;
	background-color: #AAC4FF;
}
#plus {
	grid-area: plus;
	background-color: #F8F988;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	
}
#decimal {
	grid-area: decimal;
	border: 1px solid black;
	padding: 10px;
	margin:10px 20px 10px 20px;
	padding-right: 15%;
	background-color: #AAC4FF;
	font-weight: bold;
	color: black;
}
#equals {
	grid-area: equals;
	border: 1px solid black;
	font-size: 30px;
	padding: 10px;
	margin:10px 20px 10px 20px;
	color: black;
	
}

.button:hover {
	cursor: pointer;
	color: white;
	background-color: lightcyan !important;
}
